[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "mflux"
version = "0.2.1"
description = "A MLX port of FLUX based on the Huggingface Diffusers implementation."
readme = "README.md"
keywords = ["diffusers", "flux", "mlx"]
authors = [{ name = "Filip Strand", email = "strand.filip@gmail.com" }]
maintainers = [{ name = "Filip Strand", email = "strand.filip@gmail.com" }]
requires-python = ">=3.10"
dependencies = [
    "huggingface-hub>=0.24.5",
    "mlx>=0.16.0",
    "numpy>=2.0.1",
    "opencv-python>=4.10.0",
    "piexif>=1.1.3",
    "pillow>=10.4.0",
    "safetensors>=0.4.4",
    "sentencepiece>=0.2.0",
    "torch>=2.3.1",
    "tqdm>=4.66.5",
    "transformers>=4.44.0",
]
classifiers = [
    "Framework :: MLX",
    "Intended Audience :: Developers",
    "Operating System :: MacOS",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
]

[project.urls]
homepage = "https://github.com/filipstrand/mflux"

[project.scripts]
mflux-generate = "mflux.generate:main"
mflux-save = "mflux.save:main"
mflux-generate-controlnet = "mflux.generate_controlnet:main"

[tool.setuptools.packages.find]
where = ["src"]
include = ["mflux*"]

[tool.ruff]
line-length = 120
indent-width = 4
target-version = "py310"
respect-gitignore = true
exclude = [
    "src/mflux/generate.py",
    "src/mflux/generate_controlnet.py",
    "src/mflux/save.py",
    "src/mflux/flux/flux.py",
    "src/mflux/controlnet/flux_controlnet.py",
    "src/mflux/models/transformer/joint_transformer_block.py",
    "src/mflux/models/vae/common/resnet_block_2d.py",
    "src/mflux/models/vae/common/unet_mid_block.py",
    "src/mflux/models/vae/encoder/down_block_2.py",
    "src/mflux/models/vae/encoder/down_block_3.py",
    "src/mflux/models/vae/decoder/up_block_3.py",
    "src/mflux/models/vae/decoder/up_block_4.py"
    ]

[tool.ruff.lint]
# Enable Pyflakes (`F`) and a subset of the pycodestyle (`E`) codes by default.
# Unlike Flake8, Ruff doesn't enable pycodestyle warnings (`W`) or
# McCabe complexity (`C901`) by default.
select = ["E4", "E7", "E9", "F"]
ignore = []

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.format]
# Like Black, use double quotes for strings.
quote-style = "double"

# Like Black, indent with spaces, rather than tabs.
indent-style = "space"

# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = false

# Like Black, automatically detect the appropriate line ending.
line-ending = "auto"

# Enable auto-formatting of code examples in docstrings. Markdown,
# reStructuredText code/literal blocks and doctests are all supported.
#
# This is currently disabled by default, but it is planned for this
# to be opt-out in the future.
docstring-code-format = false

# Set the line length limit used when formatting code snippets in
# docstrings.
#
# This only has an effect when the `docstring-code-format` setting is
# enabled.
docstring-code-line-length = "dynamic"
